html {
  font-size: 16px;
}

nav {
  height: 3.875rem;
  padding: 0 3.4375rem 0 3.6875rem;
}

.navbar-header img {
  height: 50px;
}

#navAbout a {
  color: #f5a623;
}

/* override bootstrap .container-fluid */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.aboutJumboText {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.aboutJumboText h1 {
  font-size: 3.125rem;
  font-weight: bold;
  color: #794ae2;
}

.aboutJumboText p {
  color: #666666;
  padding-top: 4rem;
}

.aboutJumboSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  border-bottom: 10px solid #794ae2;
}

.aboutJumboSection img {
  width: 50%;
  height: auto;
}

.isMobile {
  display: none;
}

.aboutBodyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 62%;  /* per spec 19% space on left and right */
  margin-left: 19%;
  height: auto;
  padding: 4rem 0 3rem 0;
}

.aboutBodyContainer img {
  max-height: 9.375rem;
}

.aboutBodyText {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  text-align: center;
}

.aboutBodyText h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #794ae2;
}

.aboutBodyText p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

#footerSection {
  height: 18.125rem;  /* 3.125rem + 15rem */
  background-image: url("./resources/party-photo.png");
  background-size: cover;
}

.footerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  color: #ffffff;
}

.footerNav p {
  margin-bottom: 0;  /* need to override for vertical center: found via Chrome Dev Tools */
}

.fontAwesomeIcons {
  width: 9.375rem;
  display: flex;
  justify-content: space-between;
}

.notDesktop {
  display: none;
}

.footerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}

/* media support */
@media only screen and (min-width: 460px) and (max-width: 760px) {
  .isMobile {
    display: flex;
  }
  .notMobile {
    display: none;
  }
  .aboutJumboSection {
    flex-direction: column;
  }
  .aboutJumboSection img {
    width: 100%;
  }
  .aboutJumboText {
    width: 100%;
  }
  .aboutJumboText h1 {
    font-size: 1.25rem;
  }
  .aboutJumboText p {
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 0;
  }
  .aboutBodyContainer {
    flex-direction: column;
    justify-content: center;
    padding: 1.875rem 0;
  }
  .aboutBodyText {
    padding-left: 0;
  }
  .aboutBodyText h2 {
    font-size: 1.75rem;
  }
  .aboutbodyText p {
    font-size: 1rem;
    line-height: 1.6;
  }
  .footerNav {
    height: 2.5rem;
  }
  .footerNav img {
    /* display: none; .fontAwesomeIcons don't center when this is used */
    opacity: 0;
  }
  .footerNav p {
    /* display: none; .fontAwesomeIcons don't center when this is used */
    opacity: 0;
  }
  .fontAwesomeIcons {
    width: 5.4375rem;
  }
  .isDesktop {
    display: none;
  }
  .notDesktop {
    display: flex;
  }
  .footerText {
    margin-top: 1.875rem;
    font-size: 0.625rem;
    letter-spacing: 0.5px;
  }
  #footerSection {
    height: 11.25rem;  /* 2.5rem + 8.75rem */
  }
}

@media only screen and (max-width: 460px) {
  .isMobile {
    display: flex;
  }
  .notMobile {
    display: none;
  }
  .aboutJumboSection {
    flex-direction: column;
  }
  .aboutJumboSection img {
    width: 100%;
  }
  .aboutJumboText {
    width: 100%;
  }
  .aboutJumboText h1 {
    font-size: 1.25rem;
  }
  .aboutJumboText p {
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 0;
  }
  .footerNav {
    height: 2.5rem;
  }
  .footerNav img {
    /* display: none; .fontAwesomeIcons don't center when this is used */
    opacity: 0;
  }
  .footerNav p {
    /* display: none; .fontAwesomeIcons don't center when this is used */
    opacity: 0;
  }
  .fontAwesomeIcons {
    width: 5.4375rem;
  }
  .isDesktop {
    display: none;
  }
  .notDesktop {
    display: flex;
  }
  .footerText {
    margin-top: 1.875rem;
    font-size: 0.625rem;
    letter-spacing: 0.5px;
  }
  #footerSection {
    height: 11.25rem;  /* 2.5rem + 8.75rem */
  }
}
/* end of media support */

.myDebugYellow {
  /* for debug */
  border: medium solid yellow;
}
.myDebugGreen {
  /* for debug */
  border: medium solid green;
}
